doctype html

html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/Zurb/css/foundation.css')
		script(src='javascripts/angular.min.js')
		script(src='js/vendor/modernizr.js')


	body(style='overflow:auto')

		div(class='row' id='city_choose' style='padding: 0; margin: 0; display: block')
			div(class='large-12 medium-12 columns')
				h3(style='text-align: center') Please, select a city:			
				form#formAddUser(name="city",method="post",action="/index")
					button(type='submit' name='wpisz' class='city_btn' value='gdansk') Gdańsk
					button(type='submit' name='wpisz' class='city_btn' value='wroclaw') Wrocław
					button(type='submit' name='wpisz' class='city_btn' value='warszawa') Warszawa
					button(type='submit' name='wpisz' class='city_btn' value='lublin') Lublin
					button(type='submit' name='wpisz' class='city_btn' value='poznan') Poznań
					button(type='submit' name='wpisz' class='city_btn' value='katowice') Katowice
					button(type='submit' name='wpisz' class='city_btn' value='krakow') Kraków
					button(type='submit' name='wpisz' class='city_btn' value='lodz') Łódź
					button(type='submit' name='wpisz' class='city_btn' value='bydgoszcz') Bydgoszcz
					button(type='submit' name='wpisz' class='city_btn' value='rzeszow') Rzeszów
					button(type='submit' name='wpisz' class='city_btn' value='szczecin') Szczecin
					button(type='submit' name='wpisz' class='city_btn' value='opole') Opole
					<!-- tutaj są przyciski z wartościami, jakie są przekazywane do strony /index. -->
							

