doctype html

html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/Zurb/css/foundation.css')
		script(src='javascripts/angular.min.js')
		script(src='js/vendor/modernizr.js')


	body(style='overflow:auto')

		div(class='row' id='city_choose' style='padding: 0; margin: 0; display: block')
			div(class='large-12 medium-12 columns')
				h3(style='text-align: center') Please, select a city:			
				form#formAddUser(name="city",method="post",action="/index")
					button(type='submit' name='wpisz' class='city_btn' value='Gdańsk') Gdańsk
					button(type='submit' name='wpisz' class='city_btn' value='Wrocław') Wrocław
					button(type='submit' name='wpisz' class='city_btn' value='Warszawa') Warszawa
					button(type='submit' name='wpisz' class='city_btn' value='Lublin') Lublin
					button(type='submit' name='wpisz' class='city_btn' value='Poznań') Poznań
					button(type='submit' name='wpisz' class='city_btn' value='Katowice') Katowice
					button(type='submit' name='wpisz' class='city_btn' value='Kraków') Kraków
					button(type='submit' name='wpisz' class='city_btn' value='Łódź') Łódź
					button(type='submit' name='wpisz' class='city_btn' value='Bydgoszcz') Bydgoszcz
					button(type='submit' name='wpisz' class='city_btn' value='Rzeszów') Rzeszów
					button(type='submit' name='wpisz' class='city_btn' value='Szczecin') Szczecin
					button(type='submit' name='wpisz' class='city_btn' value='Opole') Opole
					<!-- tutaj są przyciski z wartościami, jakie są przekazywane do strony /index. -->
							

