doctype html

html(ng-app='TriCity' class='no-js')
	head
		script(src='javascripts/temp.js')
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/Zurb/css/foundation.css')
		script(src='javascripts/angular.min.js')
		script(src='javascripts/menu.js')
		script(src='js/vendor/modernizr.js')
		script(src='javascripts/controller.js')
		script(src='javascripts/jquery-2.1.1.js')
		script(src='javascripts/jquery_funcs.js')
	script.
		var tabka = new Array();

	each playa in tabela
		script.
			var tab = #{playa.y};
			tabka.push(tab);

	body(ng-controller='TriCity.ApplicationCtrl' onload='loadScript(tabka)' style='overflow:auto')

		div(class='row' id='site_row' style='margin:0; padding:0; width: 100%; height: 100%;')
			h1(id='napis') #{miasto}


			div(class='large-2 medium-3 columns')
				div(class='row' style='padding: 0;')
						div(class='large-6 medium-6 small-6 columns' style='padding: 0; margin: 0;')
							button(onclick='show_places()' style='width: 99%') Places
						div(class='large-6 medium-6 small-6 columns' style='padding: 0; margin: 0;')
							button(onclick='show_events()' style='width: 100%;') Events


				
				div(class='row' id='menu_profile' style='overflow: hidden; height: 310px')		

					div(id='events_div' style='display: none' class='large-12 medium-12 columns')
						div(style='direction: ltr')
							p(class='event') Jedno
							p(class='event') Drugie			

					

					div(id='main_menu_div' class='large-12 medium-12 columns')
						div(style='direction: ltr;overflow-x: hidden; padding:0;color: orange; height: 100%')
							div(class='row' style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: grey; margin-bottom: 2%;')
								div(class='large-2 medium-2 columns')
									img(src='images/1.png')
								div(class='large-8 medium-8 columns')
									ul
										li
											p Startups
											ul
												li
													p IT
													ul
														li Blastlab
														li CenterLab
													p Bio
													ul
														li Dolina
														li GreenLab
													p Tech
													ul
														li Techland
														li Something
								div(class='large-2 medium-2 columns' id='menu' style='padding: 0; margin: 0')
									input(type='checkbox' class='input_menu' )

							div(class='row' style='border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: grey; padding-top: 2%; padding-bottom: 0')
								div(class='large-2 medium-2 columns')
									img(src='images/2.png')
								div(class='large-8 medium-8 columns')
									ul
										li
											p Accelerators
											ul
												each acc in tabela
													if(acc.kategoria=='accelerators')
														li #{acc.nazwa}

											
								div(class='large-2 medium-2 columns' id='menu' style='padding: 0; margin: 0')
									input(type='checkbox' class='input_menu')
										
					div(class='large-12 medium-12 columns' id='profile')
						img(src='images/human_little.png')
						p(style='display: inline; font-size: 20px' id='nazwa_imie')
						p     
						p Tralaliński
						p Gdańsk, ul. Jana Sobieskiego 12
						p Webmaster, designer, grafik
							div(class='back_button')
								button( name='' type='')
									h6(style='margin:0; padding: 0; height: 100%; width: 100%; color: white') Back

					div(class='large-12 medium-12 small-12 columns' id='formula')
						p(style='color: orange;padding-top: 1%; margin: 0') Choose category:
						form#formAddUser(name="adduser",method="post",action="/adduser")
							select(name='category' style='width: 80%; height: 10%;padding: 0; margin: 0')
								option Startups
								option Accelerators
								option Coworking
								option Investors
							p(style='color: orange;padding-top: 1%; margin: 0') Write a name: 
							input(type='text' value='Enter name here' name='nazwisko')													

							button( type='submit' name='add' style='position: absolute; bottom: 0; right: 2%; display: inline;') Add
						button(class='show_hide_btn' style='position: absolute; bottom: 0; left: 2%') Back


				div(class='row' style='margin-top: 70%;')
					div(class='large-3 medium-3 columns')
						p    
					div(class='large-6 medium-6 columns' style='padding:0')
						button(class='show_hide_btn' style='width: 100%;') Add
					div(class='large-3 medium-3 columns')
						p  
				div(classs='row')
					div(class='large-12 columns')
						p(style='color: orange') Events : 
							script.
								document.write(pisz())

			div(class='large-10 medium-9 columns' style='height: 100%; padding-right: 0; padding-left: 0')
				div(id='map-canvas')  
					

							


		script.
			new Menu('main_menu');
			