div(id='main_menu_div' class='large-12 medium-12 columns' style='display:block')
						dl(id='main_menu' style='' )
								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona1')
										img(src='images/1.png')
									div(class='large-9 medium-8 columns')
										dt(id='startups') Startups
											dd(onclick='pokaz("adv")') Advertising						
												div(onclick='pokaz("adv")' class="database_div" id='adv' style='display: none')
														h6(class='from_database')
											dd(onclick='pokaz("oth")') Other
												div(onclick='pokaz("oth")' class="database_div" id='oth' style='display: none')
													h6(class='from_database') Jakiś pierwszy
													h6(class='from_database') Jakiś drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')


								div(class='row' id='row_menu')
									div(class='large-2 small-2 columns' id='ikona2')
										img(src='images/2.png')
									div(class='large-9 medium-8 columns')
										dt(id='accelerators') Accelerators
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')


								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona3')
										img(src='images/3.png')
									div(class='large-9 medium-8 columns')
										dt(id='coworking') Coworking
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')


								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona4')
										img(src='images/4.png')
									div(class='large-9 medium-8 columns')
										dt(id='investors') Investors
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Trzeci
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')


								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona5')
										img(src='images/5.png')
									div(class='large-9 medium-8 columns')
										dt(id='r&d_centers') R&D Centers
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')

								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona6')
										img(src='images/6.png')
									div(class='large-9 medium-8 columns')
										dt(id='community') Community
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')


								div(class='row' id='row_menu')
									div(class='large-2 medium-2 columns' id='ikona7')
										img(src='images/6.png')
									div(class='large-9 medium-8 columns')
										dt(id='services') Services
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Pierwszy
											dd(onclick='show_profile(5,-200,-100,"profile",this)') Drugi
									div(class='large-1 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu')